.page .header .header__link .logo .logo_place_header .header__title .header__subtitle .header__main-illustration .header__square-pic .description .two-columns .two-columns__brief .two-columns__main-text .two-columns__paragraph .two-columns__span-accent .digits .section-title .section-subtitle .table .table__cell .table__headling .table__text .feynman .feynman__title .feynman__subtitle .feynman__img .feynman__link .kaufman .section-title_theme_dark .section-subtitle_theme_dark .table_theme_dark .table__cell_theme_dark .table__headling_theme_dark .table__text_theme_dark .kaufman__triangle .footer .footer__columns .footer__column_content_copyright .logo__place_footer .footer__column_content_info .footer__column-heading .footer__column_links .footer__column_content_social .footer__column_links_img {
  margin: 0;
}

.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
  background-color: #f2f2f2;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  position: relative;
}
.header__link{
  text-decoration: none;
  color: #2f80ed;
}

.logo {
  z-index: 1;
  height: 32px;
  width: 183px;
  background-size: cover;
}

.logo_place_header {
  left: 64px;
  top: 30px;  
  position: absolute;
  background-image: url('../images/logo_place_header.svg');
}

.header__title {
  width: 730px;
  align-self: center;
  line-height: 96px;
  font-size: 108px;
  margin: 0 0 0 64px ;
  font-weight: bold;
  z-index: 2;
}
.header__subtitle {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  width: 388px;
  z-index: 2;
  position: absolute;
  left: 64px;
  bottom: 30px;
}

.header__main-illustration {
  z-index: 1;
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
  position: absolute;
  top: 64px;
  right: 0;
}
.description{
  display: flex;
  justify-content: center;
  
}
.two-columns {
  margin-top: 100px;
  width: 80%;
  justify-content: space-between;
  display: flex;
  background-color: white;
}

.two-columns__brief{
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
}
.two-columns__main-text{
  width: 80%;
  min-width: 784px;
}
.two-columns__paragraph{
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;  
}
.two-columns__paragraph:nth-of-type(2n){
  margin: 30px 0;
}

.two-columns__span-accent{
  font-weight: bold;
}

.digits {
  flex-direction: column;
  margin-top: 100px;
  display: flex;
  background-color: white;
}
.section-title {
  text-align: center;
  width: 60%;
  margin: 0 auto;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
}

.section-subtitle {
  width: 60%;
  text-align: center;
  margin: 20px auto 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  margin: 0 auto;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
  
}
.table__cell {
  width: 250px;
  margin-top: 60px;
}
.table__headling {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
}
.feynman {
  padding-top: 100px;
  min-height: 890px;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
}
.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 0 auto;
  z-index: 1;
}
.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
  margin-top: 70px;
  z-index: 1;
}

.feynman__img {
  position: absolute;
  background-image: url('../images/feynman.png');
  background-size: cover;
  height: 637px;
  width: 867px;
  left: 0;
  bottom: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position:absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  z-index: 1;
}

.kaufman{
  padding: 90px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  color: #f2f2f2;
  background-color: #1f1f1f;
  overflow: hidden;
}
.section-title_theme_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  z-index: 1;
}
.section-subtitle_theme_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 1;
}
.table_theme_dark{
  margin: 80px auto 0;
  display: flex;
  width: 1100px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}
.table__cell_theme_dark {
  width: 200px;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}
.table__headling_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  z-index: 1;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  z-index: 1;
}
.kaufman__triangle {
  position: absolute;
  background-image: url('../images/kaufman-triangle.svg');
  height: 877px;
  width: 877px;
  right: -210px;
  top: 0; 
  
}
.footer{
  padding: 60px 0 40px;
  display: flex;
  background-color: #1f1f1f;
  justify-content: center;
  color: #f2f2f2;
}
.footer__author {
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}
.footer__columns {
  display: flex;
  min-height: 250px;
  width: 90%;
  justify-content: space-between;

}
.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
}
.logo__place_footer {
  width: 183px;
  height: 35px;
}

.footer__column_content_info{
  display:flex;
  flex-direction: column;
}
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}
.footer__column_links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: #f2f2f2;
}
.footer__column_links:nth-of-type(3n){
  margin-bottom: 16px;
}
.footer__column_content_social {
  display: flex;
  flex-direction: column;
}
.footer__column_links_img {
  margin-right: 10px;
}